name: Deploy Release to Production VM

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types: [completed]

jobs:
  deploy-production:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'workflow_dispatch' &&
      github.event.workflow_run.inputs.release_mode == 'true' &&
      github.event.workflow_run.outputs.is_snapshot == 'false'
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Prepare production directory
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.PRODUCTION_HOST }}
          username: ${{ secrets.PRODUCTION_USER }}
          key: ${{ secrets.PRODUCTION_SSH_KEY }}
          port: ${{ secrets.PRODUCTION_PORT }}
          script: |
            mkdir -p ~/devops-ci-cd-github-actions
            
      - name: Copy docker-compose to production VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.PRODUCTION_HOST }}
          username: ${{ secrets.PRODUCTION_USER }}
          key: ${{ secrets.PRODUCTION_SSH_KEY }}
          port: ${{ secrets.PRODUCTION_PORT }}
          source: "docker-compose.yml"
          target: "~/devops-ci-cd-github-actions/"
  
      - name: Deploy to production via SSH
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.PRODUCTION_HOST }}
          username: ${{ secrets.PRODUCTION_USER }}
          key: ${{ secrets.PRODUCTION_SSH_KEY }}
          port: ${{ secrets.PRODUCTION_PORT }}
          script: |        
            export APP_IMAGE_TAG=latest
            docker pull  ${{ secrets.DOCKER_USERNAME }}/devops-ci-cd-pipeline-github-actions:$APP_IMAGE_TAG
            docker-compose -f ~/devops-ci-cd-github-actions/docker-compose.yml down
            docker-compose -f ~/devops-ci-cd-github-actions/docker-compose.yml up -d
