name: Release Build Trigger

on:
  workflow_dispatch:
    inputs:
      release_mode:
        type: boolean
        required: true
        default: true

jobs:
  trigger-ci-release:
    runs-on: self-hosted
    steps:
      - name: Trigger CI Pipeline in RELEASE mode
        uses: gh-actions/dispatch-workflow@v1
        with:
          workflow: "CI Pipeline" 
          ref: main
          inputs: |
            release_mode: true