name: Release Build Trigger

on:
  workflow_dispatch:
    inputs:
      release_mode:
        type: boolean
        required: true
        default: true

jobs:
  trigger-ci-release:
    runs-on: self-hosted
    steps:
    - name: Trigger CI Pipeline
      uses: lasith-kg/dispatch-workflow@v1
      with:
        dispatch-method: workflow_dispatch
        owner: ${{ github.repository_owner }}
        repo: ${{ github.repository }}
        workflow: ci.yml
        ref: main
        token: ${{ secrets.PAT }}
        workflow-inputs: |
          { "release_mode": "true" }