name: Deploy Snapshot to Staging VM

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy-staging:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Prepare staging directory
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_SSH_KEY }}
          port: ${{ secrets.STAGING_PORT }}
          script: |
            mkdir -p ~/devops-ci-cd-github-actions
            
      - name: Copy docker-compose to staging VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_SSH_KEY }}
          port: ${{ secrets.STAGING_PORT }}
          source: "docker-compose.yml"
          target: "~/devops-ci-cd-github-actions/"
  
      - name: Deploy to Staging via SSH
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_SSH_KEY }}
          port: ${{ secrets.STAGING_PORT }}
          script: |        
            export APP_IMAGE_TAG=latest-snapshot
            docker pull  ${{ secrets.DOCKER_USERNAME }}/devops-ci-cd-pipeline-github-actions:$APP_IMAGE_TAG
            docker-compose -f ~/devops-ci-cd-github-actions/docker-compose.yml down
            docker-compose -f ~/devops-ci-cd-github-actions/docker-compose.yml up -d
