name: Deploy Snapshot to Staging VM

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types: [completed]

jobs:
  deploy-staging:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Download version artifact
        uses: actions/download-artifact@v4
        with:
          name: version-info

      - name: Read version info
        run: |
          VERSION=$(cat version.txt)
          SNAP=$(cat is_snapshot.txt)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "IS_SNAPSHOT=$SNAP" >> $GITHUB_ENV

      - name: Validate snapshot
        if: env.IS_SNAPSHOT != 'true'
        run: echo "Not a snapshot build. Skipping staging deploy." && exit 1

      - name: Ensure staging directory
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_SSH_KEY }}
          port: ${{ secrets.STAGING_PORT }}
          script: |
            mkdir -p ~/devops-ci-cd-github-actions

      - name: Copy docker-compose
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_SSH_KEY }}
          port: ${{ secrets.STAGING_PORT }}
          source: "docker-compose.yml"
          target: "~/devops-ci-cd-github-actions/"

      - name: Deploy snapshot
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_SSH_KEY }}
          port: ${{ secrets.STAGING_PORT }}
          script: |
            export APP_IMAGE_TAG=${{ env.VERSION }}
            docker pull ${{ secrets.DOCKER_USERNAME }}/devops-ci-cd-pipeline-github-actions:$APP_IMAGE_TAG
            docker-compose -f ~/devops-ci-cd-github-actions/docker-compose.yml down
            docker-compose -f ~/devops-ci-cd-github-actions/docker-compose.yml up -d
